.toggle-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 10px;
  transition: all 0.25s ease-in-out;
}

.toggle-icon {
  font-size: 1.5rem;
  transition: all 0.25s ease-in-out;
  color: var(--text-color);
}

.transition {
  transition: all 0.25s ease-in-out;
}

@media screen and (max-width: 500px) {
  .toggle-container {
    padding-left: 4px;
  }
}
