body {
  font-family: "Nunito", sans-serif;
}

.light-theme {
  background-color: #fff;
  color: black;
}

.lightfont {
  color: black !important;
}

.dark-theme {
  background-color: black;
  color: #fff;
}

.darkfont {
  color: white !important;
}

.toggle-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3px 17px 5px 16px;
}

.toggle-icon {
  font-size: 1.5rem;
  transition: all 0.25s;
}
