.toggle-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px 16px;
  transition: all 0.25s ease-in-out;
}

.toggle-icon {
  font-size: 1.5rem;
  transition: all 0.25s ease-in-out;
}

.transition {
  transition: all 0.25s ease-in-out;
}
