#heroSection {
	height: 100vh;
	display: grid;
	place-items: center;
	position: relative;
}
#rightBgCircle {
	position: absolute;
	right: 0;
	top: min(6vw, 5rem);
	width: clamp(7rem, 20vw, 14rem);
}
#leftBgCircle {
	position: absolute;
	left: 0;
	bottom: min(6vw, 5rem);
	width: clamp(7rem, 20vw, 14rem);
	rotate: 180deg;
}
#heroContent {
	width: 100vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-inline: 0.5rem;
}

#heroContent > h1 {
	font-family: Nunito;
	font-weight: 600;
	font-size: clamp(3.2rem, 7vw, 5rem);
	text-align: center;
	line-height: 1.05;
}
#heroContent > p {
	margin-top: 1.7rem;
	font-family: Poppins;
	font-weight: 400;
	font-size: clamp(1.3rem, 3vw, 1.8rem);
	width: min(90%, 45ch);
	text-align: center;
}
#heroContent > a {
	margin-top: 3rem;
	color: white;
	font-family: Poppins;
	font-weight: 500;
	font-size: clamp(1.4rem, 5vw, 1.8rem);
	line-height: 27px;
	text-align: center;
	padding: 12px 25px;
	background-color: #4643c3;
	text-decoration: none;
	border-radius: 8px;
	transition: transform 0.2s ease-out;
}
@media only screen and (min-width: 500px) {
	#heroContent > a {
		padding: 17px 38px;
	}
}
#heroContent > a:hover {
	transform: scale(1.1);
}
.top-1 {
	z-index: 1;
}
