.detailedFeatureSection {
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 1500px;

  
}
.row {

  display: flex;
  justify-content: space-between;
  margin: 150px 10%;
  flex-wrap: wrap;
}
.row div {
  width: 49.2%;
}
.row:last-child {
  margin: 10px 10% !important;
  flex-direction: row-reverse;
}
.detailedFeatureSection h3 {
  font-family: Nunito;
  font-size: 44px;
  font-weight: 600;
  color: black;
}
.detailedFeatureSection p {
  font-family: Poppins;
  font-size: 18px;
  font-weight: 400;
  color: #8e8e8e;
  margin-top: 35px;
}
.row div img {
  width: 430px;
  object-fit: contain;
}
.imgCust{
  text-align: end;

}
.imgDash{
  text-align: start;
  
}
@media only screen and (max-width: 1200px) {
  .row div img {
    width: 400px;
  }
  .detailedFeatureSection h3 {
    font-size: 36px;
  }
}
@media only screen and (max-width: 1024px) {
  .row {
    margin-top: 100px;
    
  }
  
  .row div img {
    width: 105%;
  }

  .detailedFeatureSection .dashboard {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .detailedFeatureSection h3 {
    font-size: 34x;
  }
  .detailedFeatureSection p {
    font-size: 14px;
    margin-top: 30px;
  }

  .dashboard h3, .dashboard p {
    text-align: right;
    margin-left: 1em;
  }
}
.featureHead{
  overflow-wrap:break-word;
  hyphens: auto;
}
@media only screen and (max-width: 800px) {
  .row {
    margin-top: 75px;
    flex-direction: column-reverse !important;
  }
  .row div {
    width: 100%;
  }
  .row div img {
    width: 100%;
  }
  .detailedFeatureSection h3 {
    width: 100%;
  }
  .detailedFeatureSection h3 {
    font-size: 32px;
  }
  .dashboard h3, .dashboard p {
    text-align: center;
    margin-left: 0em;
  }
}
