:root {
  --clr-primary-10: hsl(205, 100%, 96%);
  --clr-primary-5: hsl(205, 78%, 60%);
  --transition: all 0.3s linear;
}

.footer {
  font-family: "Nunito", sans-serif;
  height: 80vh;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer-left-prop {
  position: absolute;
  width: 180px;
  left: 0;
  bottom: 150px;
  z-index: 0;
}

.footer-right-prop {
  position: absolute;
  width: 240px;
  right: 0;
  top: 0;
  z-index: 0;
}

.join-our-community {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 30px;
}

.join-our-community h1 {
  font-weight: 600;
  font-size: 48px;
  text-align: center;
  color: var(--text-color);
}

.join-our-community p {
  width: 100%;
  max-width: 750px;
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  margin-top: 0;
  margin-bottom: 40px;
  line-height: 27px;
  color: var(--text-secondary);
}

.join-button {
  width: 150px;
  height: 50px;
  white-space: nowrap;
  background-color: var(--blue);
  border-radius: 8px;
  font-weight: 500;
  font-size: 18px;
  color: white;
  border: 2px solid var(--blue);
  transition: all 0.25s ease-in-out;
  cursor: pointer;
}

.join-button:hover {
  background-color: var(--light-blue);
  border-color: var(--light-blue);
}

.footer-socials {
  position: absolute;
  bottom: 0;
  height: 100px;
  width: 100%;
  justify-self: end;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 100px;
}

.footer-socials .social-logo {
  text-decoration: none;
  color: var(--text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 50px;
}

.footer-socials .socials {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  width: 60%;
  height: 100%;
}

.social-button {
  text-decoration: none;
  color: var(--text-color);
  width: 50px;
  height: 50px;
  background-color: transparent;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  transition: all 0.25s ease-in-out;
}

.social-button:hover {
  color: var(--text-secondary);
}

@media screen and (max-width: 1150px) {
  .footer-left-prop,
  .footer-right-prop {
    opacity: 0.3;
  }
}

@media screen and (max-width: 1000px) {
  .footer-socials {
    padding: 0 30px;
  }
}

@media screen and (max-width: 850px) {
  .footer-socials {
    justify-content: center;
  }

  .social-logo {
    display: none;
  }

  .socials {
    width: 100vw !important;
    text-align: center;
    justify-content: center !important;
  }
}

@media screen and (max-width: 750px) {
  .footer-left-prop {
    display: none;
  }

  .footer-right-prop {
    display: none;
  }

  .join-our-community p {
    width: 90%;
  }

  .footer-socials {
    height: 60px;
  }
}

@media screen and (max-width: 400px) {
  .join-our-community {
    padding: 0 15px;
  }

  .join-our-community h1 {
    font-size: 36px;
  }

  .join-our-community p {
    font-size: 16px;
  }

  .join-button {
    width: 120px;
    height: 40px;
    font-size: 16px;
  }

  .footer-socials {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0 15px;
  }

  .footer-socials .socials {
    width: 100%;
    margin: 0;
    flex-wrap: wrap;
    justify-content: center;
  }

  .social-button {
    font-size: 24px;
    width: 35px;
    height: 30px;
  }
}
