.footer {
  font-family: "Nunito", sans-serif;
  height: 700px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.join-our-community {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.join-our-community > h1 {
  overflow-wrap: anywhere;
  hyphens: auto;
}

.left-prop {
  position: absolute;
  width: 180px;
  left: 0px;
  bottom: 150px;
  z-index: -1;
}

.right-prop {
  position: absolute;
  width: 240px;
  right: 0px;
  bottom: 300px;
  z-index: -1;
}

.join-our-community h1 {
  font-weight: 600;
  font-size: 48px;
  text-align: center;
}

.join-our-community p {
  width: 750px;
  font-weight: 400;
  font-family: "Poppins";
  font-size: 20px;
  text-align: center;
  margin-top: 0;
  margin-bottom: 40px;
  line-height: 27px;
  color: rgba(142, 142, 142, 1);
}

.join-button {
  width: 150px;
  height: 50px;
  background-color: rgba(70, 67, 195, 1);
  border-radius: 8px;
  padding: 10px, 20px, 10px, 20px;
  font-weight: 500;
  font-size: 18px;
  color: white;
  border: 2px solid #4643c3;
}

.join-button:hover {
  background-color: white;
  color: black;
  cursor: pointer;
}

.footer-socials {
  position: absolute;
  bottom: 0px;
  height: 100px;
  width: 100%;
  justify-self: end;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: white;
}

.footer-socials .social-logo {
  text-decoration: none;
  color: black;
  font-weight: 700;
  font-size: 36px;
  line-height: 50px;
  margin-left: 2.5%;
}

.footer-socials .socials {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  width: 60%;
  height: 100%;
  gap: 10px;
  margin-right: 10px;
}

.social-button {
  text-decoration: none;
  color: black;
  width: 50px;
  height: 50px;
  /* border: 2px solid black; */
  background-color: transparent;
  /* border-radius: 100%; */
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
}

@media screen and (max-width: 1150px) {
  .left-prop,
  .right-prop {
    opacity: 0.3;
  }
}

@media screen and (max-width: 750px) {
  .join-our-community p {
    width: 90%;
  }

  .footer-socials {
    height: 60px;
  }

  .social-button {
    width: 20px;
    height: 20px;
    font-size: 20px;
  }

  .footer-socials .social-logo {
    font-size: 28px;
  }
}

@media screen and (max-width: 400px) {
  .left-prop {
    display: none;
  }

  .right-prop {
    display: none;
  }

  .join-our-community h1 {
    font-size: 42px;
  }

  .join-our-community p {
    font-size: 16px;
  }

  .join-button {
    width: 120px;
    height: 40px;
    font-size: 16px;
  }

  .footer-socials .socials {
    flex-wrap: wrap;
    justify-content: center;
  }
}
