@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

:root {
  --blue: #4643c3;
  --light-blue: #5d5bee;
  --text-secondary: #8e8e8e;

  --text-light: black;
  --text-dark: white;

  --bg-light: #f6faff;
  --bg-dark: black;

  --header-dark-bg: rgba(0, 0, 0, 0.76);
  --header-light-bg: #f6faffc2;
}

.light-theme {
  --text-color: var(--text-light);
  --text-anticolor: var(--text-dark);
  --bg-color: var(--bg-light);
  --bg-anticolor: var(--bg-dark);
  --header-bg: var(--header-light-bg);
}

.dark-theme {
  --text-color: var(--text-dark);
  --text-anticolor: var(--text-light);
  --bg-color: var(--bg-dark);
  --bg-anticolor: var(--bg-light);
  --header-bg: var(--header-dark-bg);
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 0.875rem;
  transition: all 0.25s ease-in-out;
  padding: 0;
  margin: 0;
}

.App {
  background-color: var(--bg-color);
}
