@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@600;700&family=Poppins:wght@400;500&display=swap");
:root {
	--transition-onload: 0s;
	--colorMode: #000;
}

*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	transition-property: color, background-color;
	transition-duration: var(--transition-onload);
}
body {
	overflow-x: hidden;
}
.cardDesign {
	width: min(85%, 35rem);
	position: relative;
}
.cardDesign > img {
	width: 100%;
}
.cardDesign::before {
	content: "";
	position: absolute;
	top: 8px;
	left: 11px;
	width: 100%;
	height: 100%;
	background-color: var(--colorMode);
	z-index: -1;
	border-radius: 20px;
}
.cardDesign::after {
	content: "";
	position: absolute;
	top: 16px;
	left: 22px;
	width: 100%;
	height: 100%;
	background-color: #4643c3;
	z-index: -1;
	border-radius: 20px;
	z-index: -2;
}
.top-1 {
	z-index: 1;
}
